
{% extends 'admin/master.html'%}
{%block head_css%}
{{ super() }}
<link href="/static/css/back.css" rel="stylesheet">
<link rel="shortcut icon" type="image/x-icon" href="http://innovexsolutions.co.ke/images/favicon.ico?crc=260476550"/>
{%endblock%}
{% block body %}
{{ super() }}
    <h1>Sacco-matatu adminstration system</h1>

    <h2> you are logged in as {{current_user.name}}</h2>
    <br>
    {%for routes in routes%}
    {{routes.name}}
    {%endfor%}
    <a href="/"">Front-end</a>
    
    
{% endblock %}