{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sacco App</title>
</head>
<body>

	
    

    <div class="container">

        

        <div class="col-md-8">

            <a href= '/trip'><h1>Trip details</h1><a>

            <a href= '/admin'><h1>Admin Panel</h1><a>
            
        </div>

    </div>



<br>
<br>

    

</body>

</html>
{% endblock%}
