<!--Navbar -->
<nav class="navbar navbar-default" role='navigation' style="background-color: #63a4ff">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target='.navbar-collapse'>
        <span class=sr-only>Toggle navigation</span>
        <span class=icon-bar></span>
        <span class=icon-bar></span>
        <span class=icon-bar></span>
      </button>

      <a <span class="btn" href="/">Home</span></a>
    </div>
    <li class="nav-item dropdown">
      <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
        <a style="font-size: 15px" class="dropdown-item" href="/football"></a>
        <a style="font-size: 15px" class="dropdown-item" href="/cycling"></a>
        <a style="font-size: 15px" class="dropdown-item" href="/rugby"></a>
        <a style="font-size: 15px" class="dropdown-item" href="/basketball"></a>
      </div>
    </li>
    </ul>
    <div class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %}
      <ul style="list-style: none;"></ul>
      <li> 
        <a>{{current_user.name}}</a>
        <a class="btn" href="{{url_for('auth.logout')}}">Sign out</a>
      </li>
      </ul>
      {% else %}
      <li><a class="btn" href="{{url_for('auth.login')}}">Sign in</a></li>
      {%endif%}
      </div>
    </div>
  </div>
</nav>

<!--/.Navbar -->