<!--Navbar -->
<nav class="navbar navbar-default" role='navigation' style="background-color: #63a4ff">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target='.navbar-collapse'>
        <span class=sr-only>Toggle navigation</span>
        <span class=icon-bar></span>
        <span class=icon-bar></span>
        <span class=icon-bar></span>
      </button>

      <a <span class="btn" href="/">Home</span></a>
    </div>
    {% if current_user.is_admin == True%}
      <li><a href="/admin">Admin</a></li>
      </ul>
      {% else %}
      {%endif%}
  
    <div class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %}
      <ul style="list-style: none;">
      <li> 
        <a>{{current_user.name}}</a>
        <a class="btn" href="{{url_for('auth.logout')}}">Sign out</a>
      </li>
      {% else %}
      <li><a class="btn" href="{{url_for('auth.login')}}">Sign in</a></li>
      {%endif%}
      </div>
    </div>
  </div>
</nav>

<!--/.Navbar -->